[Unit]
Description=uWSGI expoter
After=syslog.target

[Service]
Type=simple
PermissionsStartOnly=true
GuessMainPID=true
WorkingDirectory=/opt/prometheus_suite/uwsgi_expoter


PIDFile=/run/uwsgi_expoter.pid
ExecStartPre=/bin/touch /run/uwsgi_expoter.pid
ExecStartPre=/bin/chown prometheus:prometheus /run/uwsgi_expoter.pid

ExecStart=/opt/prometheus_suite/uwsgi_expoter/uWSGI_expoter

[Install]
WantedBy=multi-user.target
